.logo
	img(src="logo.38e729eb.svg" alt="Логотип").logo__img
.nav
	ul.nav__list
		li.nav__links О нас
		li.nav__links Услуги
			img(src="flow.svg" alt="Указатель").nav__img.img1
		li.nav__links Вакансии
		li.nav__links Новости
		li.nav__links Соглашения
			img(src="flow.svg" alt="Указатель").nav__img.img2
.button
	.nav__listButton
		button.button__view.button__linkButton ВОЙТИ
		button.button__border.button__linkButton ЗАРЕГИСТРИРОВАТЬСЯ