.header__top
	nav.header__nav.header-nav
		ul.header-nav__list
			img(src="logo.38e729eb.svg" alt="Логотип").logo__img
	nav.header__nav.header__nav--right.header-nav
		ul.header-nav__list
			+headerNavLink('','О нас')
			+headerNavLink('','Услуги')
			+headerNavLink('','Вакансии')
			+headerNavLink('','Новости')
			+headerNavLink('','Соглашения')
			+headerNavLink('','Войти')
			+headerNavLink('','Зарегистрироваться')